@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jssor.js"></script>
    <script src="~/Scripts/jssor.slider.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
           
            @Html.ActionLink("Doctors.net.pk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:blue;" })
    </div>
    </div>
    <div class="container body-content">
   

        <div id="slider1_container" style="align-content:center;position: relative;bottom:100px; top: 50px; left: 20px; width: 1000px;
        height: 300px;">
            <!-- Slides Container -->
            <div class="jumbotron col-lg-12" u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 300px;
            overflow: hidden;">
                <div><img u="image" src="~/images/back4.jpg" /></div>
                <div><img u="image" src="~/images/1.jpg" /></div>
                <div><img u="image" src="~/images/aaa.png" /></div>
                <div><img u="image" src="~/images/help.png" /></div>
            </div>

            <div class="col-lg-2 btn-default" style="float:right;">
                <div style="font-weight:800;" class="bg-primary">
                    Username :
                </div>
                <br />
                <div style="margin-bottom:20px;font-weight:800;">
                    <input type="text" value="Admin" readonly/>
                </div>
                <form method="post" action="/admin/admin">
                    <div style="font-weight:800;" class="bg-primary">
                        Password :
                    </div>
                    <br />
                    <div style="font-weight:800;" >
                        <input type="text" placeholder="Password" name="pwd" />
                    </div>
                    <br />
                    <input class="btn-primary" style="margin-left:80px;border-radius:5px;" type="submit" value="Login" />
                </form>
               @* <div style="font-size:.9em;margin-bottom:120px;" class="btn-default"><a href="/#">Tell me more</a> </div>*@
            </div>
        </div>
        <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,
                $DragOrientation: 1
            };
            var jssor_slider1 = new $JssorSlider$("slider1_container", options);
        });
        </script>


    <div>

        
    </div>
        <hr />
        <footer style="margin-top:80px">
            <p>&copy; @DateTime.Now</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>



@{
    ViewBag.Title = "Home Page";
}

